* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  /* border: 3px solid black; */
}

.container1 {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

.container3 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.inner-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid yellow; */
}

.inner-container1 {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  /* border: 3px solid blue; */
}

.inner-container2 {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  /* border: 3px solid green; */
}

.tile {
  height: 100px;
  width: 100px;
}

.tile1 {
  background-color: rgb(0, 98, 255);
}

.tile2 {
  background-color: orangered;
}

.tile11 {
  background-color: yellow;
}

.tile12 {
  background-color: red;
}

.tile3 {
  background-color: rgb(230, 106, 127);
}

.tile4 {
  background-color: rgb(0, 200, 255);
}

.tile5 {
  background-color: rgb(180, 4, 4);
}

.tile6 {
  background-color: rgb(74, 74, 3);
}

.tile7 {
  background-color: rgb(220, 44, 73);
}

.tile8 {
  background-color: rgb(225, 67, 10);
}

.tile9 {
  background-color: orange;
}

.tile10 {
  background-color: rgb(3, 3, 77);
}

@media only screen and (max-width: 500px) {
  .tile {
    height: 50px;
    width: 50px;
  }

  .container1 {
    height: 20%;
  }

  .container2 {
    height: 60%;
    display: flex;
    flex-direction: column;
  }

  .inner-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .inner-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    column-gap: 1px;
  }

  .inner-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    column-gap: 1px;
  }

  .container3 {
    height: 20%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1097px) {
  .tile {
    height: 70px;
    width: 70px;
  }

  .container1 {
    height: 20%;
  }

  .container2 {
    height: 60%;
    display: flex;
  }

  .inner-container {
    display: flex;
    width: 70%;
    height: 100%;
  }

  .inner-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    column-gap: 10%;
  }

  .inner-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    column-gap: 10%;
  }

  .container3 {
    height: 20%;
  }
}
